@import './assets/fonts.css';
@import './assets/colors.css';

body {
  margin: 0;
  font-family: 'NotoSansMono';
  font-size: 16px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body * {
  box-sizing: border-box;
  overflow: auto;
}