.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.team {
  margin-right: 2rem;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.metadata > * {
  margin-right: 2rem;
}

.connected {
  color: green;
}

.disconnected {
  color: red;
}
